/* 
font-family: 'Indie Flower', cursive;
font-family: 'Playfair Display', serif; */

html {
    overflow-x: hidden;
}

body {
    background-color: #e09f63;
    /* background-image: url('/static/images/frontimg.png');
    background-repeat: no-repeat; */
    font-family: 'Indie Flower', cursive;

}

.detail__btn {
    background-color: rgba(176, 93, 16, 0.854);
    color: #f1f1f1;
}


.detail__btn:hover {
    background-color: #d8b798;
    color: rgb(31, 15, 15);
}

.logo-bckgr {
    background-image: url('/static/images/frontimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1f1f1;
    opacity: 0.8;
    font-size: 0.9rem;
}

.logo:hover {
    color: #0d0b0b;
    background-color: rgb(251, 241, 228);
    opacity: 0.8;
    border-radius: 5%;
}


.navbar-brand {
    color: rgb(133, 68, 15);
}

.navbar-brand:hover {
    color: #180c0c;
}

.float-end a {
    color: rgb(241, 214, 80);
}

.float-end a:hover {
    color: #f4eae0;
}

.shop-now-button:hover {
    background-color: rgb(195, 119, 13);
    color: white;

}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgba(221, 132, 54, 0.769);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #534611;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}